<ul class="list-group mylist">
    <li>
        <a href="#" class="list-group-item">Quản lý tài khoản</a>
        <ul class="list-group mylist1">
            <li><a class="list-group-item" href="@Url.Action("Index","QL_ADMIN")"> Quản Lý Admin</a></li>
            <li><a class="list-group-item" href="@Url.Action("Index","QLGV")"> Quản Lý Giáo viên</a></li>
            <li><a class="list-group-item" href="@Url.Action("Index","QLHS")"> Quản Lý Học Sinh</a></li>
        </ul>
    </li>
    <li><a class="list-group-item" href="@Url.Action("Index", "TrangTin")">Quản lý Trang tin</a></li>
    <li><a class="list-group-item" href="@Url.Action("Index","Menu")">Quản lý Menu</a></li>
    <li><a class="list-group-item" href="#">Quản lý Slide</a></li>
    <li><a class="list-group-item" href="@Url.Action("Index","BaoCaoHuHong")">Quản lý cơ sở vật chất</a></li>
    <li><a class="list-group-item" href="@Url.Action("Index","TaiNguyen")">Quản lý tài nguyên học tập</a></li>
    <li><a class="list-group-item" href="@Url.Action("Index","HoatDong")">Quản lý Tin tức hoạt động</a></li>
    <li><a class="list-group-item" href="@Url.Action("Index","ThongBao")">Quản lý thông báo</a></li>
</ul>
