@model Website_THPT.Models.HOCSINH
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2 style="text-align:center;">XÁC NHẬN THÔNG TIN CẦN XÓA</h2>

<h3 style="text-align:center">Bạn quyết định xóa học sinh này?</h3>
<h4 style="text-align:center;">@Html.Raw(ViewBag.ThongBao)</h4>
<div style="text-align:center;">
    <hr />
    <dl class="dl-horizontal">
        <dt> Tên học sinh: </dt>
        <dd> @Html.DisplayFor(model => model.TenHS) </dd>
        <dt> Tên Đăng Nhập: </dt>
        <dd> @Html.DisplayFor(model => model.TenDN) </dd>
        <dt> Ngày Sinh: </dt>
        <dd> @Html.FormatValue(Model.NgaySinh, "{0:dd/MM/yyyy}") </dd>
        <dt> Nơi Sinh:</dt>
        <dd> @Html.DisplayFor(model => model.NoiSinh) </dd>
        <dt> Địa chỉ: </dt>
        <dd> @Html.DisplayFor(model => model.DiaChi)</dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-warning" /> | @Html.ActionLink("VỀ TRANG QUẢN LÝ HỌC SINH", "Index")
        </div>
    }
</div>

@section NavLeft_Partial{
    @Html.Action("NavLeft_Partial", "Home")
}