@model Website_THPT.Models.TINTUC
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h3 style="color:red">Bạn có muốn xoá trang tin này không ?</h3>
<div>
    <h4>XOÁ TIN TỨC ĐỘNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Tin
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenTin)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" />

        </div>
        @Html.ActionLink("< Quay lại Danh sách Tin tức", "Index")
    }
</div>

@section NavLeft_Partial{
    @Html.Action("NavLeft_Partial", "Home")
}