@model IEnumerable<Website_THPT.Models.THONGBAO>
@{
    ViewBag.Title = "QL Thông Báo";
    Layout = "~/Areas/Admin/Views/Shared/GV_Layout.cshtml";
}

<h2 style="text-align: center; font-weight: bold; color: #90201e">QUẢN LÝ THÔNG BÁO</h2>
<a href="@Url.Action("Create", "QLThongBao")" class="btn btn-success" role="button" style="margin-bottom: 5px;">
    Thêm
</a>
<table class="table">
    <tr>
        <th>
            Tên Thông Báo
        </th>
        @*<th>
                Nội dung
            </th>*@
        <th>
            Ngày Tạo
        </th>

        <th>
            Chức Năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenThongBao)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.NoiDung)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>

            <td>
                <a href="@Url.Action("Edit", new { id = item.Ma })" class="btn btn-warning" role="button"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="@Url.Action("Delete", new { id = item.Ma })" class="btn btn-danger" role="button"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    }
</table>
@section NavLeft_GV_Partial{
    @Html.Action("NavLeft_GV_Partial", "Home")
}

